<div class="app-container">

    <%= react_component("MapControls", selectedYear: 2015, prerender: false) %>

    <hr class="h-px bg-gray-800 border-0">

    <div class="flex flex-row">
        <section class="text-base font-normal basis-1/4 px-12 py-4 leading-8">
            <p class="pb-4">This map shows counties in Texas that had successful adoptions according to CPS criteria from 2014 - 2023.  Clicking on the years at the top right toggles the data for each year.  Hovering over counties shows specific adoption data.</p>
            <p class="text-gray-600 italic">"To be adopted, a court must have terminated parental rights, the child must have lived with the adoptive family for at least 6 months, the family must have been approved for adoption through a licensed child placing agency and a court must have ordered legal custody to the adoptive parents."</p>
            <p class="text-xs py-2">Source: <a href="https://data.texas.gov/dataset/CPS-4-5-Adoptions-Consummated-by-County-FY2014-202/fg8z-fzm6/about_data" target="_blank" class="font-bold underline">Texas Open Data Portal</a></p>
            <div class="py-8"><a href="mailto:joshwbarber@gmail.com" class="font-bold underline text-base text-blue-400">built by Josh Barber - Staff Engineer</a></div>
        </section>

        <div class="basis-3/4" id="map"></div>
    </div>
</div>
