<!DOCTYPE html>
<html>
  <head>
    <title>Texas Adoption Visualizer - Josh Barber</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'map-bundle' %>
    <script type="text/javascript" src="./javascript/mapdata.js"></script>		
    <script type="text/javascript" src="./javascript/statemap.js"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
